* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.carousel, .accordion {
width: 800px;
}

.navbar {
    width: 100%;
}

#s1 {
    margin-top: 5vh;
}

#s3 {
    padding: 6vh;
}

@media (width <= 1000px){
    #s1 
    #s2
    #s3 {
        margin-top: 0;
    }

    .carousel-item {
        width: 100vw;
    }
}